.secaoBanner {
    width: 100%;
    max-height: 100dvh;
    background-color: #F9DB79;
    position: relative;
    height: 100vh;
    /* fallback */
    height: 100dvh;
    /* browsers modernos */
}

.caixaImagem {
    width: max-content;
    margin: 50px auto 0;

}

.tituloBanner {
    width: 90%;
    position: absolute;
    top: 26%;
    left: 12%;
}

.tituloBanner h1 {
    font-size: clamp(2rem, 8vw, 100px);
    color: #fff;
    text-shadow: 3px 5px 2px #474747;
}

@media (max-width:768px) {
    .caixaImagem {
        margin-top: 10%;
    }

    .tituloBanner {
        top: 33%;
        left: 8%;
    }

    .caixaImagem img {
        width: 100%;
        height: auto;
        max-width: 700px;
        object-fit: cover;
    }
}

@media (max-width:480px) {
    .tituloBanner {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
    }

    .caixaImagem {
        max-width: 100%;
        margin: 10% auto 0;
    }

    .caixaImagem img {
        width: 100%;
        min-height: 500px;
        max-height: 700px;
        object-fit: cover;
    }

}